{% extends "generic/layout/standard.html" %}

{% block content %}

<h2>{{ title }}</h2>
<br />
<p>ZO-SPORTS is a website that assists you in creating, managing,
    and running sports tournaments. It is currently set up with
    templates to run athletics days, cross country, or swimming tournaments,
    though other tournaments are able to use the same templates, and we 
    will be adding new sport templates.</p>
<hr />
<h4>What are we?</h4>
<p>If you're reading this there is a pretty good chance you're one of 
    the many people who donate a large amount of their time to ensure 
    young people get the chance to participate in Athletics, 
    Cross Country, Swimming and other sporting events.</p>
<p>Our goal at ZO-SPORTS is to do what we can to provide a site 
    that will help people to run there large scale events. It has 
    always impressed us the way volunteers and the others have 
    handled the stress and pressure of these occasions, and we 
    believe they deserve all the support we can possibly give them.</p>
<hr />
<h4> Who are we?</h4>
<p>For several years I have worked at trying to develop a system that 
    effectively runs these events while allowing schools and other 
    organisations to retain the culture that has built up around the unique ways 
    they all run their days.</p>
<p>In many ways this was a baling twine and number 8 wire fix. Over 
    the last two years, with a programmer involved, we have taken the 
    system into first a prototype desktop version, and are 
    developing it into this website, which is far more efficient and fit 
    for purpose</p>
<hr />
<h4>Free for NZ Schools/Clubs/Organisations... Really?</h4>
<p>Definitely! One of our core beliefs is that schools, clubs etc have enough 
    financial and adminitrative hassle to deal with, and we want to 
    help out where we can. We eventually plan to fund this and further 
    development with a sponsorship model, and all we need from you is your 
    support and most importantly your feedback.</p>

{% endblock %}

